<section id="userD" [@dashboardState]="dashboardState">
  <section id="userD__settings">
    <button mat-icon-button id="userD__closeBtn" (click)="toggleUserDashboard()" matTooltip="Close">
      <mat-icon>close</mat-icon>
    </button>
    <div>
      <p class="mat-headline">User Settings</p>
      <p class="mat-subheading-1">Change user's settings here</p>
      <p class="mat-subheading-1">Change user's settings here</p>
      <p class="mat-subheading-1">Change user's settings here</p>
      <p class="mat-subheading-1">Change user's settings here</p>
    </div>
  </section>

</section>