<section class="agreement">
    <h1 class="mat-h1">Chollima Registered User Agreement</h1>

    <p class="body-1">This Registered User Agreement ("Agreement") sets forth the terms and conditions governing the use of the Chollima websites,
        online services and interactive applications (each, a "Service") by registered users. By becoming a registered user,
        completing the online registration process and checking the box "I have read and understand the Registered User Agreement
        and agree to be bound by all of its terms" on the registration page, and using the Service, you agree to be bound
        by all of the terms and conditions of this Agreement.</p>

    <p class="body-1">This Agreement is between you and the Chollima group affiliate that owns the respective Service. This Agreement expressly
        incorporates by reference and includes the respective Service's Terms and Conditions. In the event of any conflicts
        or inconsistencies between those terms and this Agreement, this Agreement will control.</p>

    <p class="body-1">Please carefully review this Agreement before ticking the relevant check box on the registration form.
        <em>If you do not wish to accept this Agreement, do not proceed with the registration.</em>
    </p>
    <h2 class="mat-h2">Changes</h2>

    <p class="body-1">Chollima reserves the right to update, revise, supplement and otherwise modify this Agreement from time to time. Any
        such changes will be effective immediately and incorporated into this Agreement. Registered users are encouraged
        to review the most current version of the Agreement on a periodic basis for changes. Your continued use of a Service
        following the posting of any changes constitutes your acceptance of those changes.</p>
    <h2 class="mat-h2">Password use and security</h2>

    <p class="body-1">You must not reveal your password and must take reasonable steps to keep your password confidential and secure. You agree
        to immediately notify Chollima if you become aware of or have reason to believe that there is any unauthorized use
        of your password or account or any other breach of security. Chollima is in no way liable for any claims or losses
        related to the use or misuse of your password or account due to the activities of any third party outside of our
        control or due to your failure to maintain their confidentiality and security.</p>
    <h2 class="mat-h2">Grant of license</h2>

    <p class="body-1">As a registered user of a Service, Chollima grants to you a non-transferable, non-exclusive and revocable license to
        use the Service according to the terms and conditions set forth in this Agreement. Except as expressly granted by
        this Agreement or otherwise by Chollima or its licensors in writing, you acquire no right, title or license in the
        Service or any data, content, application or materials accessed from or incorporated in the Service.</p>
    <h2 class="mat-h2">Term and termination</h2>

    <p class="body-1">The license is effective until it expires, until Chollima terminates it, or until you provide notice in person to Chollima
        of your decision to terminate it. Your rights under this license will terminate automatically without notice to you
        if you fail to comply with any of the provisions of this Agreement. Chollima reserves the right to suspend, discontinue
        or change a Service, or its availability to you, at any time without notice. Upon termination of the license to a
        Service, you shall cease all use of the Service.</p>
    <h2 class="mat-h2">No assignment</h2>

    <p class="body-1">THIS AGREEMENT IS PERSONAL TO YOU, AND YOU MAY NOT ASSIGN YOUR RIGHTS OR OBLIGATIONS TO ANYONE. No waiver</p>

    <p class="body-1">Neither failure nor delay on the part of Chollima to exercise or enforce any right, remedy, power or privilege hereunder
        nor course of dealing between the parties shall operate as a waiver thereof, or of the exercise of any other right,
        remedy, power or privilege. No term of this Agreement shall be deemed waived, and no breach consented to, unless
        such waiver or consent shall be in writing and signed by the party claimed to have waived or consented. No waiver
        of any rights or consent to any breaches shall constitute a waiver of any other rights or consent to any other breach.</p>
    <h2 class="mat-h2">Severability</h2>

    <p class="body-1">If any provision in this Agreement is held invalid or unenforceable under applicable law, the remaining provisions shall
        continue in full force and effect. Governing law and venue</p>

    <p class="body-1">This Agreement will be governed by and construed in accordance with the laws of the Province of British Columbia, Canada,
        without regard to conflicts of law principles, except if you reside outside of Canada, then the laws of the country
        of the nearest International Skating Union member Head Office. The exclusive jurisdiction and venue with respect
        to any action or suit arising out of or pertaining to this Agreement shall be the courts of competent jurisdiction
        located in the Province of British Columbia, Canada, except if you reside outside of Canada, then the courts located
        in the country of the nearest International Skating Union member Head Office. This Agreement will not be governed
        by the United Nations Convention on Contracts for the International Sale of Goods.</p>

    <p class="body-1">Last revised: 9 June 2018</p>
</section>