/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');
@import '~@angular/material/theming';

/** Theming */
@include mat-core();
$primary: mat-palette($mat-pink,200); // Colouring:
$accent: mat-palette($mat-indigo,200); // http://goo.gl/8AJGux
$theme-ip-light: mat-light-theme($primary, $accent);
$theme-ip-dark: mat-dark-theme($primary, $accent);

$custom-typography: mat-typography-config(
	$font-family: 'Roboto, monospace',
	$headline: mat-typography-level(32px, 48px, 700),
	$body-1: mat-typography-level(16px, 24px, 500)
);
@include mat-base-typography($custom-typography);
@include angular-material-typography($custom-typography);

/* Global variables */

$mw-desktop: 920px;
